.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

  
  /* .container form {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  } */
  
  .container table {
    width: 75%;
    border-collapse: collapse;
  }
  
  .container td {
    padding: 10px 0;
  }
  
  .container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .container button {
    width: 100%;
    padding: 10px;
    background-color: burlywood;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .container button:hover {
    background-color: rgb(234, 172, 90);
  }
  
  .container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  